<h1 class='title'><%= @product.title %></h1>
<p class='description'><%= @product.description %></p>
<span class='price'><%= @product.price %></span>
<p><%= link_to 'Editar Producto', edit_product_path(@product)%></p>
